<div class="title">
  <h1>나의 일정</h1>
  <h2>3월 18일</h2>
</div>
<div class="todo_list">
  <div *ngFor="let todo of todos">
    <app-todolist [todo]="todo"></app-todolist>
    <button (click)="clearTodo(todo)"><i class="fas fa-backspace"></i></button>
  </div>
  <div class="nodata" *ngIf="todos.length == 0">
    <i class="far fa-bell-slash"></i>목록이 없습니다
  </div>
</div>

<app-add-todo (onTodoAdded)="addTodo($event)"></app-add-todo>
<button class="btn_re" (click)="clear()">
  <i class="fas fa-redo-alt"></i>
</button>
